body {
  padding-left: 175px;
  padding-right: 175px;
}

#logo {
  float:left;
}

.socMedia {
  float:right;
}

#mail {
  margin-left: 2px;
}

#rss {
  margin-left: 10px;
}

#pint {
  margin-left: 1px;
}

#flic {
  margin-left: 1px;
}

#insta {
  margin-left: 2px;
}

#gp {
  margin-left: 2px;
}

#twit {
  margin-left: 2px;
}

#delic {
  font-size: 2.5rem;
  font-family: 'Damion', cursive;
  margin-top: -10px;
  margin-left: 7px;
}

#slogan {
  margin-top: -11px;
  font-size: .75rem;
  margin-left: 7px;
}

#header {
  padding-bottom: 40px;
}

#hrOne {
  height: 6px;
  background: url(http://ibrahimjabbari.com/english/images/hr-11.png)
  repeat-x 0 0;
  border: 0;
 }

#chocTitle {
  display: inline-block;
}

#postTitle {
  padding-top: 1.40em;
  padding-bottom: .05em;
  font-size: 2em;
  font-weight: bold;
  font-family:
}

#postDate {
  font-size: .75em;
  color: lightgrey;
}

#printer {
  float: right;
  color: lightgrey;
}

.big {
  width: 100%;
  margin-top: 3%;
}

p {
  text-indent: 20px;
  font-size: 1.25em;
}

#picDiv {
  position: relative;
  width: 100%;
  margin-top: -40px;
}

#text {
  -webkit-column-count: 2;
  -moz-column-count: 2;
  column-count: 2;
  -webkit-column-gap: 60px;
  -moz-column-gap: 60px;
  column-gap: 60px;
  position: absolute;
  z-index: 100;
  left: 60px;
  top: 80px;
  font-size: 1.75em;
}

label {
  opacity: .5;
}

.crossout {
  text-decoration: line-through;
}

#hrTwo {
  height: 6px;
  background: url(http://ibrahimjabbari.com/english/images/hr-11.png)
  repeat-x 0 0;
  border: 0;
  margin-top: 35px;
}

#footer {
  margin-top: 25px;
}

#name {
  font-size: 1.5em;
  margin-bottom: 5px;
  margin-left: 8px;
}

#about {
  margin-left: 8px;
  font-size: 1.25em;
}

#button {
  float: right;
  margin-top: -80px;
  border: none;
  border-radius: 0px;
  padding: 15px 28px;
  background-color: #BD7D68;
  font-size: 1em;
  color: #fff;
  font-weight: 100;
}

.hrThree {
  text-align: center;
  margin-top: 80px;
}

.hrThree img {
  position: relative;
  margin-top: -30px;
}

#copy1 {
  text-align: center;
  margin-top: 30px;
  color: lightgrey;
}

#copy2 {
  text-align: center;
  color: lightgrey;
  margin-bottom: 30px;
}
