#container {
  display: block;
  height: 300px;
  width: 1200px;
  text-align: center;
  margin: 75px 0 0 0;
}

.imgDiv{
  height: 300px;
  width: 300px;
  display: inline-block;
}

#pc1 {
  background-image:;
  background-size: cover;
  background-position: center;

}

#pc2 {
  background-image:;
  background-size: cover;
  background-position: center;
}

#pc3 {
  background-image:;
  background-size: cover;
  background-position: center;

}

#buttons {
  display: block;
}
